<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>slack</string>
	<key>connections</key>
	<dict>
		<key>03A92743-0027-45AE-9F5F-0BF3D6840D07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38B7675E-9E34-428B-934A-CC3DFAC700EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>461BAD20-2016-49E6-BDA8-0A2AB6D00257</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>016F45DC-2B3C-4037-9FEB-4E4D32A13C84</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>96BB2B0F-6ED2-409A-BA3F-F1E093BF0979</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DD98625-304E-4C0A-9B6E-6AB7C9893106</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D0C911AA-872C-42BD-AFFB-A0F011B17743</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DD98625-304E-4C0A-9B6E-6AB7C9893106</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D62392A3-ED4C-4396-A03B-6C9FDA72D1A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>461BAD20-2016-49E6-BDA8-0A2AB6D00257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>tyke</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>slack</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>echo {query} &gt; token.txt</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38B7675E-9E34-428B-934A-CC3DFAC700EF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Update DB</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>016F45DC-2B3C-4037-9FEB-4E4D32A13C84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>slack:set-token</string>
				<key>text</key>
				<string>Enter your Slack token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>03A92743-0027-45AE-9F5F-0BF3D6840D07</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>slack:im</string>
				<key>script</key>
				<string>php -f search.php {query}</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D0C911AA-872C-42BD-AFFB-A0F011B17743</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>
tell Application "Slack"
	activate
end tell
delay 0.2
tell application "System Events"
	keystroke "k" using {command down}
	delay 0.2
	keystroke "{query}"
	delay 0.2
	keystroke return
end tell</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6DD98625-304E-4C0A-9B6E-6AB7C9893106</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>sim</string>
				<key>script</key>
				<string>php -f search.php {query}</string>
				<key>title</key>
				<string>Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>96BB2B0F-6ED2-409A-BA3F-F1E093BF0979</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>php -f db.php</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>461BAD20-2016-49E6-BDA8-0A2AB6D00257</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>slack:db</string>
				<key>text</key>
				<string>Update Database</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D62392A3-ED4C-4396-A03B-6C9FDA72D1A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>016F45DC-2B3C-4037-9FEB-4E4D32A13C84</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>03A92743-0027-45AE-9F5F-0BF3D6840D07</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>38B7675E-9E34-428B-934A-CC3DFAC700EF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>461BAD20-2016-49E6-BDA8-0A2AB6D00257</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>6DD98625-304E-4C0A-9B6E-6AB7C9893106</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>96BB2B0F-6ED2-409A-BA3F-F1E093BF0979</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>D0C911AA-872C-42BD-AFFB-A0F011B17743</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D62392A3-ED4C-4396-A03B-6C9FDA72D1A8</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
